@charset "utf-8";



/*---------------------- LAYOUT ---------------------*/
body {
  /* max-width: 430px; */
  width: 430px;
  height: 100%;
  margin: 0;
  text-align: center;
  font-family: 'Noto Sans KR';
  font-size: 14px;
}


.sign_container {
  width: 100%;
  display: flex;
  /* Flexbox 활성화 */
  justify-content: center;
  /* 가로 가운데 정렬 */
  align-items: center;
  /* 세로 가운데 정렬 */
  height: 100vh;
  /* 화면 전체 높이 */
}




.input {
  background-color: #f1f1f1;
  width: 350px;
  height: 54px;
  border: none;
  border-radius: 10px;
  padding-left: 10px;
  box-sizing: border-box;
}

div>form>p {
  padding-bottom: 15px;
  box-sizing: border-box;
  font-size: 14px;
}



.login,
.login2 {
  display: block;
  background-color: #5b5b5b;
  width: 350px;
  height: 54px;
  border: none;
  border-radius: 10px;
  color: #fff;
  font-size: 16px;
  line-height: 16px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}



#emailcode {
  width: 350px;
  padding-bottom: 15px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

#user_email {
  width: 230px;
}

#code {
  width: 200px;
}

.startlogo {
  margin-bottom: 28px;
  margin-top: 100px;
}

.startpenimage {
  margin-left: 10px;
}

/*---------------------- TYPOGRAPHY ---------------------*/

/*index.html*/
#monott {
  font-size: 120px;
  line-height: 140px;
  font-family: 'Monoplex KR';
  font-weight: bold;
  color: #9FC1CB;
  margin-top: 56px;
}

#monott2 {
  font-size: 11px;
  font-family: 'Monoplex KR';
  color: #9FC1CB;
}

.start-tt {
  color: black;
  font-size: 20px;
  line-height: 20px;
  font-weight: bold;
  padding-bottom: 40px;
  box-sizing: border-box;
}

.start-tt2 {
  color: black;
  font-size: 20px;
  line-height: 34px;
  font-weight: bold;
  padding-bottom: 30px;
  box-sizing: border-box;
}


/*---------------------- BUTTON & LINK ---------------------*/

.border_btn {
  font-size: 12px;
  padding: 8px 14px;
  border-radius: 20px;
  border-color: black;
  background-color: #fff;
}

.home_button {
  font-size: 14px;
  padding: 12px 10px;
  border-radius: 30px;
  margin: 0 auto;
  border: #000 solid 3px;
  background-color: #fff;
  width: 80px;
}

.signin_links>p {
  display: inline-block;
  width: 175px;
  text-align: center;
  font-size: 12px;
  color: #5b5b5b;

}

.W_content>p:nth-child(2)>img {
  margin-top: 10px;
  margin-bottom: 30px;
}

.W_content>p:nth-child(1)>img {
  margin-top: -20px;
}







/*기기별 컨텐츠 크기 조절*/

/*---------- 아이폰 15 프로 맥스 해상도  -----------*/

@media (min-width: 430px) and (max-width: 767px) {

  /* 아이폰 15 프로 맥스용 ~ 더 큰 기기 스타일 적용 */
  html {
    font-size: 14px;
    /* 1rem = 14px */
  }

  body {
    width: 100%;
  }

  .sign_container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  .content {
    width: 90%;
    padding: 20% 10%;
  }

  /*로딩 페이지*/
  #monott {
    font-size: 9rem;
    line-height: 100%;
  }

  #monott2 {
    font-size: 0.8rem;
    margin-top: 2%;
  }

  .startlogo {
    margin-bottom: 0%;
    margin-top: 4rem;
  }

  .startlogo>img {
    transform: scale(0.75, 0.75);
    margin-bottom: -1rem;
  }

  .startpenimage>img {
    transform: scale(0.85, 0.85);
  }

  /*로그인 페이지*/
  .start-tt {
    font-size: 1.5rem;
  }

  .input {
    width: 350px;
  }


  .login,
  .login2 {
    width: 350px;
    font-size: 1rem;
    margin: 2vh auto;
    display: block;
    border: none;
    border-radius: 10px;
    color: #fff;
    line-height: 16px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .signlogo {
    margin-bottom: 15%;
    margin-top: -15%;
    transform: scale(1, 1) !important;

  }

  #emailcode {
    width: 350px;
  }

  .signin_links>p {
    width: 10rem;
  }

  /*웰컴페이지*/

  .W_content>p:nth-child(1)>img {
    transform: scale(1);
  }

  .W_content>p:nth-child(2)>img {
    margin-top: -1rem;
    margin-bottom: 4rem;
  }


  .home_button {
    font-size: 1rem;
    padding: 12px 10px;
    border-radius: 30px;
    margin: 0 auto;
    border: #000 solid 3px;
    background-color: #fff;
    width: 80px;
  }
}



/*----------------- 더 작은 화면용 --------------*/

@media (max-width: 429px) {

  /* 다른 작은 기기용 스타일 적용 */
  html {
    font-size: 12px;
    /* 1rem = 12px */
  }

  body {
    width: 100%;
  }

  .sign_container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-wrap: wrap;
    box-sizing: border-box;
  }

  .content {
    width: 90%;
    padding: 20% 10%;
  }


  /*로딩 페이지*/

  #monott {
    font-size: 9rem;
    line-height: 100%;
    margin-top: 40%;
  }

  #monott2 {
    font-size: 0.8rem;
  }

  .startlogo {
    margin-bottom: 0px;
    margin-top: 5rem;
  }

  .startpenimage {
    margin-top: -20%;
  }

  p>img {
    transform: scale(0.7, 0.7);
  }

  /*로그인 페이지*/
  .start-tt {
    font-size: 1.3rem;
    padding-bottom: 2rem;
    /* 작은 화면에서 글자 크기 줄임 */
  }

  div>form>p {
    padding-bottom: 8px;
  }

  .input {
    width: 35vh;
    height: 5vh;
    font-size: 0.8rem;
    box-sizing: border-box;
    /* 입력 필드 크기 조정 */
  }

  .login,
  .login2 {
    width: 35vh;
    height: 5vh;
    font-size: 1rem;
    margin: 2vh auto;
    display: block;
    border: none;
    border-radius: 10px;
    color: #fff;
    line-height: 16px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    /* 로그인 버튼 크기 조정 */
  }

  .signlogo {
    margin-bottom: 10%;
    transform: scale(0.9, 0.9) !important;
  }

  .signin_links>p>a {
    font-size: 0.8rem !important;
  }


  #emailcode {
    width: 35vh;
    height: 5vh;
    font-size: 1rem;
    padding-bottom: 8px;
  }

  #user_email {
    width: 25vh;
    height: 5vh;
  }

  .signin_links>p {
    width: 9rem;
  }

  #code {
    width: 20vh;
    height: 5vh;
  }

  .border_btn {
    font-size: 0.8rem;
    padding: 1vh 2vh;
  }

  h4 {
    padding-top: 15px;
    box-sizing: border-box;
    padding-bottom: 5px;
  }

  /*웰컴페이지*/

  .W_content>p:nth-child(2)>img {
    margin: 0px;
    margin-top: -2rem;
    margin-bottom: 3rem;
  }

  .W_content>p:nth-child(1)>img {
    transform: scale(0.9);
  }


  .home_button {
    font-size: 1rem;
    padding: 10px 10px;
    border-radius: 25px;
    margin: 0 auto;
    border: #000 solid 3px;
    background-color: #fff;
    width: 60px;
  }
}





/*--------------- 더 큰 화면용 --------------*/

@media (min-width: 768px) {

  /* 태블릿,pc 용 스타일 적용 */
  html {
    font-size: 18px;
  }

  body {
    width: 100%;
  }

  .sign_container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: absolute;
  }

  .content,
  .W_content {
    width: 600px;
    margin-top: 20%;
    margin-bottom: 20%;

  }

  /*로딩 페이지*/
  #monott {
    font-size: 7rem;
    line-height: 100%;
    margin-top: 5rem;
  }

  #monott2 {
    font-size: 0.6rem;
    margin-top: 2%;
  }

  .startlogo {
    margin-bottom: 0px;
    margin-top: 3rem;
  }


  .startlogo>img {
    transform: scale(0.75, 0.75);
    margin-bottom: -1rem;
  }

  .startpenimage>img {
    transform: scale(0.85, 0.85);
    margin-bottom: 5rem;
  }

  /*로그인 페이지*/
  .start-tt {
    font-size: 1.2rem;
    margin-bottom: 1rem;
    /* 큰 화면에서 글자 크기 조정 */
  }

  .input {
    width: 25rem;
    height: 5vh;
    font-size: 0.7rem;
  }


  .login,
  .login2 {
    width: 25rem;
    height: 5vh;
    font-size: 0.8rem;
    margin: 2vh auto;
    display: block;
    border: none;
    border-radius: 10px;
    color: #fff;
    line-height: 16px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
  }


  .signlogo {
    margin-bottom: 4rem;
    transform: scale(1.1, 1.1) !important;

  }


  #code {
    width: 15rem;
  }

  #emailcode {
    width: 25rem;
    font-size: 1rem;
    padding-bottom: 0.6rem;
  }

  #user_email {
    width: 18rem;
  }

  .signin_links>p {
    width: 11rem;
  }

  div>form>p {
    padding-bottom: 0.6rem;
  }

  .signin_links>p>a {
    font-size: 0.7rem;
  }

  /*웰컴페이지*/

  .W_content>p:nth-child(1)>img {
    height: 13vh;
    transform: scale(1.2);
    padding-bottom: 1vh;
  }

  .W_content>p:nth-child(2)>img {
    height: 11vh;
    transform: scale(1.2);
    margin-bottom: 8vh;
  }


  .start-tt2 {
    color: black;
    font-size: 3vh;
    line-height: 5vh;
    font-weight: bold;
    padding-bottom: 5vh;
    box-sizing: border-box;
  }

  .home_button {
    font-size: 2vh;
    padding: 1.2vh 1.2vh;
    border-radius: 4vh;
    margin: 0 auto;
    border: #000 solid 0.5vh;
    background-color: #fff;
    width: 10vh;
  }
}