@charset "utf=8";

@font-face {
  font-family: 'dovemayobold';
  src: url('./font/dovemayo_bold.otf');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'dovemayomedium';
  src: url('./font/dovemayo.otf');
  font-weight: normal;
  font-style: normal;

}

* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #5b5b5b;
}

ul,
ol {
  list-style: none;
}

img,
video,
iframe {
  vertical-align: middle;
}


body {
  max-width: 767px;
  width: 100vw;
  height: 100vh;
  font-family: 'dovemayobold', 'Noto Sans KR';
  font-size: 14px;
  line-height: 20px;
  color: #5B5B5B;
  overflow: hidden;
  box-sizing: border-box;
  position: relative;
  background-color: #ffffff;
}


.wrapper {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

/*-----header-----*/
header {
  display: flex;
  justify-content: center;
  position: relative;
  align-items: center;
  padding-bottom: 2vh;
  padding-top: 7vh;
  box-sizing: border-box;
}

header>p:first-child {
  position: absolute;
  left: 5%;
}

header>p>img {
  width: 3vh;
}

header>p>a>img {
  width: 4vh;
  cursor: pointer;
}

/*----서브메뉴----*/


.sub {
  width: 60%;
  height: 100vh;
  background-color: #fff;
  box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.25);
  position: absolute;
  left: 0%;
  top: 0;
  z-index: 2000;
  font-size: 2vh;
  display: none;
}


.sub>.btns {
  display: flex;
  justify-content: center;
  margin-top: 7vh;
}

.sub>.btns>p {
  width: 40%;
}

.sub>.btns>p:last-child {
  text-align: right;
}

.texts {
  width: 80%;
  margin: 0 auto;
  margin-top: 7vh;
}

.texts>ul {
  width: 80%;
  padding-left: 1vh;
  box-sizing: border-box;
}

.texts>ul>li>a {
  width: 100%;
  display: flex;
  line-height: 6vh;
  align-items: center;
}

.texts>ul>li>a>p {
  padding-left: 1vh;
  box-sizing: border-box;
}

.version {
  width: 70%;
  margin: 0 auto;
  margin-top: 20vh;
  text-align: right;
}

.version>ul>li {
  line-height: 5vh;
}

.version>ul>li:first-child {
  color: #ccc;
}


.title {
  width: 100%;
  text-align: center;
  line-height: 8vh;
}

.title>h1 {
  font-size: 2.1vh;
}

/*-----container-----*/


.scroll_box {
  width: 100%;
  height: 70vh;
  overflow-y: auto;
  -ms-overflow-style: none;
}

.scroll_box::-webkit-scrollbar {
  display: none;
}

.container {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}


/*----기본 이모티콘----*/

.my_emoticon {
  width: 84%;
  padding: 1.2vh;
  box-sizing: border-box;
  background-color: #F8F8F8;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);

}

.my_emoticon>p {
  font-size: 1.3vh;
  margin: -0.6vh;
}

.option {
  display: flex;
  font-size: 0.9vh;
}

.option>li {
  padding: 0 5px;
  font-family: 'Noto Sans KR';
  color: #ffffff;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
}

.option>.base {
  background-color: #F6E952;
  border-radius: 2vh;

  margin-right: 0.8vh;
}

.option>.price {
  background-color: #5b5b5b;
  border-radius: 2vh;
}

.emoticon {
  width: 85%;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  font-size: 1.1vh;
  font-family: 'dovemayomedium';
}

.emoticon>li>img {
  margin-bottom: 0.6vh;
}

.emoticon>li {
  /* padding: 0.6vh; */
  margin-top: 1vh;
  line-height: 1.3vh;
  width: 20%;
}

/*----중간선----*/
hr {
  width: 90%;
  margin: 3vh 0;
  opacity: 0.2;

}

/*----하다샵 이모티콘----*/
.new_emoticon {
  width: 100%;
  box-sizing: border-box;
  background-color: #F8F8F8;
  border-radius: 10px;
  text-align: center;
  background-color: #FFFEEC;
}

.new_emoticon>div {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 2vh;
  padding-bottom: 5vh;
}


.subtitle {
  font-size: 2.1vh;
  background-color: #ffffff;
  border-radius: 2vh;
  width: 30%;
  margin: 4vh auto;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
}

.subtitle>p {
  padding: 1vh;
}

.Izy,
.Po {
  width: 85%;
  padding: 1.5vh;
  box-sizing: border-box;
  border-radius: 10px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 4vh;
  margin-top: 2vh;
  position: relative;
  background-image: url("data:image/svg+xml,%3csvg width='355' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='10' ry='10' stroke='%235B5B5B' stroke-width='2.5' stroke-dasharray='4%2c6%2c8%2c10' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
  background-size: 100% 100%;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);

}

.Izy {
  background-color: #FFEBF5;
}

.Po {
  background-color: #EFFFEA;
}

.option {
  display: flex;
  font-size: 0.9vh;
  line-height: 2vh;
}

.option>li {
  padding: 0vh 0.8vh;
  font-family: 'Noto Sans KR';
  color: #ffffff;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
}

.Izy>p,
.Po>p {
  font-size: 1.3vh;
  margin: -0.6vh;
}

.buybtn {
  position: absolute;
  right: 5%;
  top: 10%;
  font-size: 1.1vh !important;
  padding: 0.2vh 1vh;
  font-family: 'Noto Sans KR' !important;
  font-weight: 800;
  background-color: #ffffff;
  border-radius: 1vh;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);
  cursor: pointer;

}

.option>.release {
  background-color: #FF7FE0;
  border-radius: 2vh;
  margin-right: 0.8vh;
}

.option>.price {
  background-color: #5b5b5b;
  border-radius: 2vh;
}

.emoticon2 {
  width: 85%;
  display: flex;
  justify-content: center;
  font-size: 1.1vh;
  margin: 0 auto;
  font-family: 'dovemayomedium';
}

.emoticon>li>img,
.emoticon2>li>img {
  transform: scale(0.8);
}

.emoticon2>li>img {
  margin-bottom: 0.6vh;
}

.emoticon2>li {
  width: 20%;
  padding: 0.6vh;
  margin-top: 1vh;
  line-height: 1.4vh;
  text-align: center;
  /* margin-right: -5%; */
}

.Izy>.emoticon2>li>img {
  margin-right: -15%;
}

/*----footer----*/


footer {
  width: 100%;
  height: 10.5vh;
  display: flex;
  justify-content: space-evenly;
  z-index: 1000;
  align-items: center;
  position: absolute;
  bottom: 0%;
}

footer>div {
  width: 33.3%;
  height: 100%;
  text-align: center;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #ffffff;
  line-height: 3vh;
}

footer>div>a>p:first-child {
  padding: 5px;
  box-sizing: border-box;
}

footer>div>a>p>img {
  width: 4vh;

}

footer>div>a>p:last-child {
  font-size: 1.9vh;
}




@media (min-width:768px) {
  body {
    width: 600px;
    height: 100vh;
    font-family: 'dovemayobold', 'Noto Sans KR';
    font-size: 16px;
    line-height: 24px;
    color: #5B5B5B;
    overflow: hidden;
    box-sizing: border-box;
    position: relative;
    background-color: #ffffff;
    margin: 0 auto;
  }

  .emoticon>li>img,
  .emoticon2>li>img {
    transform: scale(1);
  }

  .my_emoticon {
    padding: 2vh;
  }

  .new_emoticon {
    height: 70vh;
  }

  .Izy,
  .Po {
    padding: 2vh;
  }

}



@media (min-width:1024px) and (max-height:800px) {
  .subtitle {
    border-radius: 3vh;
  }

  /*이모티콘 간결조절*/
  .new_emoticon {
    height: 80vh;
  }

  .emoticon>li {
    width: 18%;
  }

  .emoticon2>li {
    width: 15%;
  }

  /*이모티콘 배경 넓이 조절*/
  .my_emoticon {
    width: 70%;
  }

  .Izy,
  .Po {
    width: 70%;
  }

  /*이모티콘 이미지 크기조절*/
  .emoticon>li>img,
  .emoticon2>li>img {
    transform: scale(0.9);
  }


  /*글자 크기 조절*/


  .my_emoticon>p {
    font-size: 1.7vh;
  }

  .emoticon {
    font-size: 1.2vh;
  }

  .emoticon2 {
    font-size: 1.2vh;
  }

  .Izy>p,
  .Po>p {
    font-size: 1.6vh;
  }

  .option {
    font-size: 1.2vh;
    line-height: 2.2vh;
  }

  .option>li {
    padding: 0vh 1.2vh;
  }

  .buybtn {
    font-size: 1.3vh !important;
    border-radius: 1.4vh;
    box-shadow: 1.5px 1.5px 1px rgba(0, 0, 0, 0.3);
    padding: 0vh 1vh;
  }

  .subtitle {
    width: 25%;
  }

}